# Core libraries
numpy==2.2.2
pandas==2.2.3
scikit-learn==1.6.1

# Visualization
matplotlib==3.10.0
seaborn==0.13.2

# EDA & Dimensionality Reduction support
scipy==1.15.1
networkx==3.4.2
tqdm==4.67.1
